*~
.pl-history
configure
t.pl
test.*
latex.tex
pldoc.tex
pldoc.sty
pldoc.html
pldoc.pdf
server/man_server.pl
Makefile
autom4te.cache
config.log
config.status
pldoc.aux
pldoc.bbl
pldoc.blg
pldoc.idx
pldoc.ilg
pldoc.ind
pldoc.log
pldoc.out
pldoc.toc
