/* $Id$

   CSS for PlDoc, the SWI-Prolog source documentation system
   Author: Jan Wielemaker
   Copying: Public domain

   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

h1.file, h1.module, h1.dir, h1.wiki
{ background: url("h1-bg.png") top left;
  clear: both;
}

h2.wiki,h3.wiki,h4.wiki
{ background: url("h2-bg.png") top left;
  clear: both;
}

.undef
{ color: red;
}

a.builtin
{ color: navy;
}

.defbody
{ margin-bottom: 1em;
}

.arglist
{ font-style: italic;
}

table.arglist,table.paramlist td
{ vertical-align: top;
}

.pred, .det, .functor
{ font-weight: bold;
}

span.pred-tag
{ float: right;
  font-size: 80%;
  font-style: italic;
  color: #202020;
}

dl.tags dt
{ font-weight: bold;
}

dt.keyword-bug, dt.keyword-deprecated, dt.keyword-tbd
{ font-weight: bold;
  color: red;
}

dt.pubdef
{ background-color: #0c3d6e;
  color: #fff;
  height: 31px;
  padding: 2px 10px 0px 10px;
  margin-bottom: 21px;
  font-size: 18px;
  vertical-align: middle;
  overflow: hidden;
}

dt.multidef
{ background-color: #ef9439;
  color: #fff;
  height: 31px;
  padding: 2px 10px 0px 10px;
  margin-bottom: 21px;
  font-size: 18px;
  vertical-align: middle;
  overflow: hidden;
}

dt.privdef
{ background-color: #207ad4;
  color: #fff;
  height: 31px;
  padding: 2px 10px 0px 10px;
  margin-bottom: 21px;
  font-size: 18px;
  vertical-align: middle;
  overflow: hidden;
}

dt.undoc, h2.undoc
{ background-color: #ffbc87;
  color: #fff;
  height: 31px;
  padding: 2px 10px 0px 10px;
  margin-bottom: 21px;
  font-size: 18px;
  vertical-align: middle;
  overflow: hidden;
}

img.action
{ border: 0;
  padding-top: 0.2em;
  height: 1em;
}

dl.tags
{ font-size: 80%;
  margin-top: 0.5em;
}

dl.latex, ul.latex, ol.latex
{ margin-top: 0.7em;
  margin-bottom: 1em;
}

dl.termlist
{ margin-top: 0.7em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

dl.undoc
{ margin-top: 0.7em;
}

dl.wiki
{ margin-top: 0.7em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

dl.wiki dt
{ font-weight: bold;
  font-size: 90%;
}

.argdescr
{ padding-left: 1em;
}

table.wiki
{ margin-top: 0.7em;
  margin-left: 1.5em;
  border: 1px outset blue;
  border-spacing: 0;
}

table.wiki td
{ border: 1px inset gray;
  padding: 3px;
  vertical-align: top;
}

img.icon
{ border: 0;
  height: 32px;
  float: right;
  padding-top: 4px;
}

pre.code
{ margin-left: 1.5em;
  margin-right: 1.5em;
  border: 1px dotted;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: #f8f8f8;
}

/* Navigation bar */

div.navhdr
{ border: 1px dotted;
  padding: 5px 5px 3px 5px;		/* top,right,bottom,left */
  background-color: #f0f0f0;
  clear: both;
}

div.navhdr div.jump
{ float: left;
}

div.navhdr div.search
{ float: right;
}

div.src_formats
{ text-align: right;
  color: #444;
  font: smaller;
  border: 1px #ccc solid;
  padding-right: 5px;
  margin-bottom: 2px;
}

/* Summary index */

table.summary
{ width: 100%;
  margin-left: 0;
  margin-right: 0;
}

table.summary th.category
{ text-align: center;
  font-size: 150%;
  font-weight: bold;
  border: 1px dotted;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  background-color:  #f0f0f0;
}

table.summary th.section
{ text-align: left;
  background-color: #bbffba;
}

table.summary th
{ text-align: left;
  background-color: #b9daff;
}

table.summary td
{ /*overflow:hidden; white-space:nowrap; text-overflow:ellipsis;*/
  vertical-align: top;
}

tr.private
{ color: #707070;
  background-color: #fbffa6;
}

/* Navigation tree */

div.navcontent
{ margin-left: 14em;
  margin-right: 58px;				/* Sync with website */
  background-color: #f6f5ee;
}

div.navtree:hover
{ overflow-x: visible;
  box-shadow: 5px 5px 5px #bbb;
  padding-right: 5px;
  width: auto;
}

div.navtree
{ width: 12em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 8px;
  margin-right: 1em;
  float: left;
  background-color: #f6f5ee;
}

ul.nav
{ padding: 0px 0px 0px 0.5em;
  margin: 0px;
  list-style-type: none;
}

li.nav.current > a
{ font-weight: bold;
  color: #0c3d6e;
}

li.nav a
{ color: #000;
  text-decoration: none;
  background-color: #f6f5ee;
}

li.nav a:hover
{ text-decoration: underline;
}

/* Packs */

table.packs
{ margin-left: 5%;
  border: 1px solid;
}

table.packs th
{ background: url("h2-bg.png") top left;
  text-align: left;
}

option.packs
{ font-weight: bold;
}

/* Search */

span.for
{ font-style: italic;
}

div.search-results
{ font-size: larger;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

div.search-counts
{ font-style: italic;
  font-size: smaller;
  margin-bottom: 1em;
}

div.search-options
{ font-size: 70%;
  white-space: nowrap;
}

div.search-options input
{ -ms-transform: scale(0.7);		/* IE */
  -moz-transform: scale(0.7);		/* FF */
  -webkit-transform: scale(0.7);	/* Safari and Chrome */
  -o-transform: scale(0.7);		/* Opera */
  position:relative;
  top: 4px;
  margin-right: 0px;
}

span.search-in, span.search-match
{ border: 1px inset;
  padding: 3px 5px 1px 1px;
}

span.search-help
{ padding-left: 1em;
}

div.synopsis
{ text-align: right;
}

span.synopsis-hdr
{ font-weight: bold;
  padding-right: 1ex;
}

div.synopsis code
{ background-color: #e0e0e0;
}

span.autoload, span.builtin, span.cfunc
{ margin-left: 5pt;
  font-style: italic;
}

span.anot
{ float: right;
  margin-right: 5pt;
  font-style: italic;
  font-size: smaller;
  padding-top: 0.2em;
  color: #444;
}

span.file_anot
{ vertical-align: text-top;
  margin-right: 5pt;
  font-style: italic;
  font-size: 60%;
  color: #444;
}

/* Footnotes from latex2html */
.fn {
    color: red;
    font-size: 70%;
}

.fn-text, .fnp {
    position: absolute;
    top: auto;
    left: 10%;
    right: 10%
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #bbb;
    display: none;
    background: #fff;
    color: #000;
    margin-top: 25px;
    padding: 8px 12px;
    font-size: larger;
}

sup:hover span.fn-text
{ display: block;
}


span.sec-nr
{
}

span.sec-title
{ margin-left: 0.5em;
}

/* Listing support */

dl.comment, div.comment
{ color: #006400;
  border: 2px inset;
  padding: 5px 5px 0px 5px;

  background-color: #e5e5e5;
  margin-top: 2em;
  margin-bottom: 1em;
}

pre.listing
{ margin-top: 0;
  margin-bottom: 0;
}

span.line-no
{ font-weight: normal;
  font-size: 0.8em;
  color: #505050;
  background-color: white;
  border: 1px inset;
  margin-right: 1em;
}

div.comment h1.module
{ margin-top: 0;
}

a.prolog_version
{ font-style: italic;
  font-size: 70%;
}

a.nofile				/* non-existing file-link */
{ color: black;
  font-family: monospace;
  text-decoration: none;
}

a.nofile:hover				/* non-existing file-link */
{ color: red;
  text-decoration: underline;
}

/* Tables from latex2html (incomplete) */

table.center
{ margin: auto;
}

table.latex
{ border-collapse:collapse;
}

table.latex tr
{ vertical-align: text-top;
}

table.latex td
{ padding: 2px 1em;
}

table.latex th
{ padding: 2px 1em;
}

table.latex tr.hline td
{ border-top: 1px solid black;
}

table.latex tr.hline th
{ border-top: 1px solid black;
}

table.frame-box
{ border: 2px solid black;
}
